@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
}
/* color : red -> 상속 가능 */
/* box-sizing : border-box -> 상속 불가능 */

/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

/* 본문 스타일 */
body {
  font-size: 1.4rem;
  color: #212121;
  background-color: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
}

.member {
  background-color: pink;
}

/* :before / ::before => first child */
/* :after / ::after => last child */

/* 우선순위 규칙 */
/* li (Type Selector) - 1점 */
/* .first (Class Selector) - 10점 */
/* #item (ID Selector) - 100점 */

/* .member -> 10점, li ->1점, ::before -> 1점 => 12점  */
/* .member li::before { */
  /* content: ":"; */
/* } */

/* .first -> 10점, ::before -> 1점 => 11점 */
/* .memeber -> 10점, .first -> 10점, ::before -> 1점 => 21점 */
/* .member li:first-child:before { */
  /* content: "" !important; */
  /* content: ""; */
/* } */

/* .member li:nth-child(n + 2)::before {
  content: ":";
} */

/* .member li::before { */
  /* content: "\e800"; */
  /* font-family: "fontello"; */
  /* font-style: normal; */
  /* font-weight: normal; */
  /* speak: never; */
  /* display: inline-block; */
  /* text-decoration: inherit; */
  /* width: 1em; */
  /* margin-right: .2em; */
  /* text-align: center; */
/* } */


/* 비주얼 */
.visual {
  background: orange;
  height: 120px;
}

/* 메인 */
.main{
  background-color: #fff;
  min-height: 450px;
  display: flow-root;
  padding: 30px 15px;
}

.group {
  float: left;
  margin: 0 15px;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}

/* 신규 이벤트 및 관련 사이트 */
.gradient-effect {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  background: #eee linear-gradient(to bottom, #ccc, #eee);
}

.text-xl {
  font-size: 1.5rem;
  font-weight: 700;
}

.accent-color {
  color: #a52a2a;
}

.margin-top-default {
  margin-top: 20px;
}

.event {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;

}

.event-button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 5px;
  /* background-color: #ff0; */
  /* overflow: hidden; */
  /* padding: 2px; */
}

.event-button {
  width: 19px;
  height: 18px;
  border: 0;
  padding: 0;
  text-indent: -9999px;
  background: aqua url("./images/back_forward.png") no-repeat;
}

.event-button-next {
  /* background-position: -36px 0; */
  background-position: 100% 0;
}

.event-thumbnail,
.event-brieft {
  margin: 10px 0;
}

.event-thumbnail img {
  border: 1px solid #eee;
  box-shadow: 5px 5px 0 0 #ccc;
}

.related {
  margin-top: 10px;
}

/* 😾 */
/* 인기 사이트 */
.favorite {
  /* margin-top: 20px; */
}

/* 슬로건 */
.slogan {
  background: skyblue;
}

/* 푸터 */
.footer {
  background: gray;
}

.footer-inner {
  background: silver;
  height: 15vh;
}